//! **************************************************************************
// Written by: Map P.68d on Mon Dec 02 10:00:59 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
PIN tfifo_/Mram_mem_pins<20> = BEL "tfifo_/Mram_mem" PINNAME CLKAWRCLK;
PIN tfifo_/Mram_mem_pins<21> = BEL "tfifo_/Mram_mem" PINNAME CLKBRDCLK;
TIMEGRP sys_clk_pin = BEL "tx_data_7992" BEL "tx_data_7993" BEL "tx_data_7994"
        BEL "tx_data_7995" BEL "tx_data_7996" BEL "tx_data_7997" BEL
        "tx_data_7998" BEL "tx_data_7999" BEL "tfifo_rd_z" BEL "state_2" BEL
        "state_1" BEL "uart_/rx_bits_remaining_3" BEL
        "uart_/rx_bits_remaining_2" BEL "uart_/rx_bits_remaining_1" BEL
        "uart_/rx_bits_remaining_0" BEL "uart_/tx_countdown_5" BEL
        "uart_/tx_countdown_4" BEL "uart_/tx_countdown_3" BEL
        "uart_/tx_countdown_2" BEL "uart_/tx_countdown_1" BEL
        "uart_/tx_countdown_0" BEL "uart_/rx_countdown_5" BEL
        "uart_/rx_countdown_4" BEL "uart_/rx_countdown_3" BEL
        "uart_/rx_countdown_2" BEL "uart_/rx_countdown_1" BEL
        "uart_/rx_countdown_0" BEL "uart_/tx_clk_divider_4" BEL
        "uart_/tx_clk_divider_3" BEL "uart_/tx_clk_divider_2" BEL
        "uart_/tx_clk_divider_1" BEL "uart_/tx_clk_divider_0" BEL
        "uart_/rx_clk_divider_4" BEL "uart_/rx_clk_divider_3" BEL
        "uart_/rx_clk_divider_2" BEL "uart_/rx_clk_divider_1" BEL
        "uart_/rx_clk_divider_0" BEL "uart_/recv_state_2" BEL
        "uart_/recv_state_1" BEL "uart_/recv_state_0" BEL "uart_/tx_state_1"
        BEL "uart_/tx_state_0" BEL "uart_/tx_data_7" BEL "uart_/tx_data_6" BEL
        "uart_/tx_data_5" BEL "uart_/tx_data_4" BEL "uart_/tx_data_3" BEL
        "uart_/tx_data_2" BEL "uart_/tx_data_1" BEL "uart_/tx_data_0" BEL
        "tfifo_/rp_9" BEL "tfifo_/rp_8" BEL "tfifo_/rp_7" BEL "tfifo_/rp_6"
        BEL "tfifo_/rp_5" BEL "tfifo_/rp_4" BEL "tfifo_/rp_3" BEL
        "tfifo_/rp_2" BEL "tfifo_/rp_1" BEL "tfifo_/rp_0" BEL "tfifo_/wp_9"
        BEL "tfifo_/wp_8" BEL "tfifo_/wp_7" BEL "tfifo_/wp_6" BEL
        "tfifo_/wp_5" BEL "tfifo_/wp_4" BEL "tfifo_/wp_3" BEL "tfifo_/wp_2"
        BEL "tfifo_/wp_1" BEL "tfifo_/wp_0" BEL "tfifo_/fifo_empty" BEL
        "tfifo_/fifo_full" BEL "tfifo_/fifo_cnt_9" BEL "tfifo_/fifo_cnt_8" BEL
        "tfifo_/fifo_cnt_7" BEL "tfifo_/fifo_cnt_6" BEL "tfifo_/fifo_cnt_5"
        BEL "tfifo_/fifo_cnt_4" BEL "tfifo_/fifo_cnt_3" BEL
        "tfifo_/fifo_cnt_2" BEL "tfifo_/fifo_cnt_1" BEL "tfifo_/fifo_cnt_0"
        BEL "state_0" BEL "uart_/tx_out" BEL "uart_/tx_bits_remaining_1" BEL
        "uart_/tx_bits_remaining_0" BEL "uart_/tx_bits_remaining_2" BEL
        "uart_/rx_data_7" BEL "uart_/rx_data_6" BEL "uart_/rx_data_5" BEL
        "uart_/rx_data_4" BEL "uart_/rx_data_3" BEL "uart_/rx_data_2" BEL
        "uart_/rx_data_1" BEL "uart_/rx_data_0" BEL
        "uart_/tx_bits_remaining_3" BEL "uart_/tx_state_0_1" BEL
        "clk_BUFGP/BUFG" PIN "tfifo_/Mram_mem_pins<20>" PIN
        "tfifo_/Mram_mem_pins<21>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

